#alarm-clock {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    height: 160px;
    border: 2px solid black;
    border-radius: 10px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

#countdown-clock {
    font-size: 96px;
    font-weight: bold;
}


form {
    position: relative;
    margin-top: 250px;
    left: 50%;
    transform: translateX(-50%);
    width: 200px;
    font-size: 18px;
  }

  form select {
    height: 40px;
  }

  form button {
    height: 40px;
    width: 60px;
  }

  #location {
    text-align: center;
    margin-top: 250px; /* adjust as needed */
    font-size: 100px;
    color: rgb(219, 207, 207);
  }